backend "apt" {
    meta {
        title "APT"
        description "Advanced Package Tool for Debian-based distributions"
        maintained "nixval"
        tags "debian" "ubuntu" "linux" "apt" "dpkg" "package-manager"
        url "-"
        homepage "https://wiki.debian.org/Apt"
        license "-"
        platforms "linux"
        requires "apt"
        install-guide "-"
    }

    binary "apt"

    list "dpkg-query -W -f='${Package}\t${Version}\n'" {
        format "tsv"
        name_col 0
        version_col 1
    }

    install "{binary} install {packages}"
    remove "{binary} remove {packages}"
    update "{binary} update"
    upgrade "{binary} upgrade -y"
    cache_clean "{binary} clean"

    search "apt-cache search {query}" {
        format "regex"
        regex "^(.+?) - (.+)$"
        name_group 1
        desc_group 2
    }

    noconfirm "-y"
    needs_sudo "true"
}
