backend "aur" {
    meta {
        title "AUR Helper"
        description "Arch User Repository with automatic fallback"
        maintained "nixval"
        tags "package-manager" "aur" "arch"
        platforms "arch"
        requires "paru" "yay" "pacman"
        url "-"
        install-guide "-"
    }

    binary "paru" "yay"

    list "{binary} -Q" {
        format "whitespace"
        name_col 0
        version_col 1
    }

    install "{binary} -S --needed {packages}"
    remove "{binary} -R {packages}"

    update "{binary} -Sy"
    upgrade "{binary} -Syu"
    cache_clean "{binary} -Sc --noconfirm"

    search "{binary} -Ss {query}" {
        format "regex"
        regex "(?m)^(\\S+)\\s+.*\\n\\s+(.*)$"
        name_group 1
        desc_group 2
    }

    search_local "{binary} -Q {query}" {
        format "whitespace"
        name_col 0
        version_col 1
    }

    fallback "pacman"
}
