backend "brew" {
    meta {
        title "Homebrew"
        description "Package manager for macOS and Linux"
        maintained "nixval"
        tags "macos" "linux" "brew" "homebrew"
        url "-"
        homepage "https://brew.sh"
        license "-"
        platforms "macos" "linux"
        requires "brew"
        install-guide "-"
    }

    binary "brew"

    list "{binary} list --formulae" {
        format "whitespace"
        name_col 0
    }

    install "{binary} install {packages}"
    remove "{binary} uninstall {packages}"
    update "{binary} update"
    upgrade "{binary} upgrade"
    cache_clean "{binary} cleanup -s"

    search "{binary} search {query}" {
        format "whitespace"
        name_col 0
    }

    needs_sudo "false"
}
