// brew - Homebrew package manager
// The Missing Package Manager for macOS (or Linux)
backend "brew" {
    meta {
        title "Homebrew"
        description "The Missing Package Manager for macOS (or Linux). Installs packages from Homebrew repository."
        version "-"
        author "-"
        maintained "nixval"
        tags "macos" "linux" "brew" "homebrew" "apple"
        url "-"
        homepage "https://brew.sh"
        license "-"
        created "2026-02-08"
        platforms "macos" "linux"
        requires "none"
        install-guide "-"
    }
    
    binary "brew"
    sudo "false"
    
    list "brew list --formulae" {
        format "whitespace"
        name_col 0
    }
    
    install "brew install {packages}"
    remove "brew uninstall {packages}"
    
    search "brew search {query}" {
        format "whitespace"
        name_col 0
    }
}
