// bun - Incredibly fast JavaScript runtime, bundler, test runner
// Fast all-in-one JavaScript toolkit
backend "bun" {
    meta {
        title "Bun"
        description "Incredibly fast JavaScript runtime, bundler, transpiler, and package manager. Written in Zig."
        version "-"
        author "-"
        maintained "nixval"
        tags "nodejs" "javascript" "bun" "fast" "zig" "bundler" "runtime"
        url "-"
        homepage "https://bun.sh"
        license "-"
        created "2026-02-08"
        platforms "linux" "macos"
        requires "none"
        install-guide "-"
    }
    
    binary "bun"
    sudo "false"
    
    list "bun pm ls -g" {
        format "json"
    }
    
    install "bun add -g {packages}"
    remove "bun remove -g {packages}"
}
