backend "bun" {
    meta {
        title "Bun"
        description "Fast JavaScript runtime and package manager"
        maintained "nixval"
        tags "nodejs" "javascript" "bun"
        url "-"
        homepage "https://bun.sh"
        license "-"
        platforms "linux" "macos"
        requires "bun" "npm"
        install-guide "-"
    }

    binary "bun"

    list "{binary} pm ls -g" {
        format "regex"
        regex "^[├└]── ([^@]+)@"
        name_group 1
    }

    install "{binary} add -g {packages}"
    remove "{binary} remove -g {packages}"

    needs_sudo "false"
    fallback "npm"
}
