backend "cargo" {
    meta {
        title "Cargo"
        description "Rust build system and package manager"
        maintained "nixval"
        tags "rust" "cargo" "package-manager"
        url "-"
        homepage "https://doc.rust-lang.org/cargo/"
        license "-"
        platforms "linux" "macos" "windows"
        requires "cargo"
        install-guide "-"
    }

    binary "cargo"

    platforms "linux" "macos" "windows"

    list "{binary} install --list" {
        format "regex"
        regex "^(\\S+)\\s+v([\\d.]+):"
        name_group 1
        version_group 2
    }

    install "{binary} install {packages}"
    remove "{binary} uninstall {packages}"

    needs_sudo "false"
}
