// cargo - Rust package manager
// Build system and package manager for Rust
backend "cargo" {
    meta {
        title "Cargo"
        description "Rust's build system and package manager. Handles dependencies, building, testing, and distribution."
        version "-"
        author "-"
        maintained "nixval"
        tags "rust" "cargo" "package-manager" "build-system"
        url "-"
        homepage "https://doc.rust-lang.org/cargo/"
        license "-"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "rust"
        install-guide "-"
    }
    
    binary "cargo"
    
    list "cargo install --list" {
        format "regex"
        pattern "^(\\S+)\\s+v([\\d.]+):"
        name_group 1
        version_group 2
    }
    
    install "cargo install {packages}"
    remove "cargo uninstall {packages}"
}
