backend "flatpak" {
    meta {
        title "Flatpak"
        description "Universal Linux application sandboxing"
        maintained "nixval"
        tags "package-manager" "flatpak" "sandbox" "universal"
        platforms "linux"
        requires "flatpak"
        url "-"
        install-guide "-"
    }

    binary "flatpak"

    list "{binary} list --app --columns=application,version" {
        format "tsv"
        name_col 0
        version_col 1
    }

    install "{binary} install flathub {packages}"
    remove "{binary} uninstall {packages}"

    update "{binary} update --appstream"
    upgrade "{binary} update -y"
    cache_clean "{binary} uninstall --unused -y"

    search "{binary} search {query}" {
        format "tsv"
        name_col 2
        desc_col 1
    }

    noconfirm "-y"
    needs_sudo "false"
}
