// flatpak - Universal app distribution for Linux
backend "flatpak" {
    meta {
        title "Flatpak"
        description "Universal packaging format for Linux"
        maintained "nixval"
        tags "linux" "flatpak" "universal" "desktop"
        url "-"
        homepage "https://flatpak.org"
        license "-"
        created "2026-02-08"
        platforms "linux"
        requires "flatpak"
        install-guide "-"
    }
    
    binary "flatpak"
    sudo "true"
    
    list "flatpak list --app --columns=application,version" {
        format "tsv"
        name_col 0
        version_col 1
    }
    
    install "flatpak install --user flathub {packages}"
    remove "flatpak uninstall --user {packages}"
    
    noconfirm "-y"
    
    search "flatpak search {query}" {
        format "tsv"
        name_col 0
        desc_col 1
    }
}
