backend "gem" {
    meta {
        title "RubyGems"
        description "Package manager for Ruby libraries"
        maintained "nixval"
        tags "ruby" "gem" "rubygems" "package-manager"
        url "-"
        homepage "https://rubygems.org"
        license "-"
        platforms "linux" "macos" "windows"
        requires "gem"
        install-guide "-"
    }

    binary "gem"

    list "{binary} list --local" {
        format "regex"
        regex "^(\\S+)\\s*\\(([^)]+)\\)"
        name_group 1
        version_group 2
    }

    install "{binary} install {packages}"
    remove "{binary} uninstall {packages} -x"
    update "{binary} update --system"
    upgrade "{binary} update"

    noconfirm "--force"
    needs_sudo "true"
}
