backend "go" {
    meta {
        title "Go Install"
        description "Install Go tools and binaries from source"
        maintained "nixval"
        tags "go" "golang" "installer"
        url "-"
        homepage "https://go.dev"
        license "-"
        platforms "linux" "macos" "windows"
        requires "go"
        install-guide "-"
    }

    binary "go"

    platforms "linux" "macos" "windows"

    list "ls $(go env GOPATH)/bin 2>/dev/null || ls $HOME/go/bin 2>/dev/null" {
        format "whitespace"
        name_col 0
    }

    install "{binary} install {packages}@latest"
    remove "rm $(go env GOPATH)/bin/{packages} 2>/dev/null || rm $HOME/go/bin/{packages} 2>/dev/null"

    needs_sudo "false"
}
