// npm - Node Package Manager
backend "npm" {
    meta {
        title "NPM"
        maintained "nixval"
        tags "nodejs" "javascript" "npm" "package-manager"
        url "-"
        homepage "https://www.npmjs.com"
        license "-"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "nodejs"
        install-guide "-"
    }
    
    binary "npm"
    sudo "false"
    
    list "npm list -g --json --depth=0" {
        format "json"
        json_path "dependencies"
        name_key "name"
        version_key "version"
    }
    
    install "npm install -g {packages}"
    remove "npm uninstall -g {packages}"
    
    search "npm search {query} --json" {
        format "json"
        name_key "name"
        version_key "version"
        desc_key "description"
    }
}
