backend "pacman" {
    meta {
        title "Pacman"
        description "Arch Linux native package manager"
        maintained "nixval"
        tags "package-manager" "arch" "native"
        platforms "arch"
        requires "pacman"
        url "-"
        install-guide "-"
    }

    binary "pacman"

    platforms "linux"

    list "{binary} -Q" {
        format "whitespace"
        name_col 0
        version_col 1
    }

    install "{binary} -S --needed {packages}"
    remove "{binary} -R {packages}"

    update "{binary} -Sy"
    upgrade "{binary} -Syu"
    cache_clean "{binary} -Sc --noconfirm"

    search_local "{binary} -Q {query}" {
        format "whitespace"
        name_col 0
        version_col 1
    }

    needs_sudo "true"
}
