backend "pip" {
    meta {
        title "pip"
        description "Standard package manager for Python"
        maintained "nixval"
        tags "python" "pip" "pypi" "package-manager"
        url "-"
        homepage "https://pip.pypa.io"
        license "-"
        platforms "linux" "macos" "windows"
        requires "python"
        install-guide "-"
    }

    binary "pip" "pip3"

    platforms "linux" "macos" "windows"

    list "{binary} list --format=json" {
        format "json"
        name_key "name"
        version_key "version"
    }

    install "{binary} install {packages}"
    remove "{binary} uninstall -y {packages}"

    noconfirm "-y"
    needs_sudo "true"
}
