backend "pnpm" {
    meta {
        title "pnpm"
        description "Fast and disk-efficient Node.js package manager"
        maintained "nixval"
        tags "nodejs" "javascript" "pnpm" "fast" "efficient"
        url "-"
        homepage "https://pnpm.io"
        license "-"
        platforms "linux" "macos" "windows"
        requires "nodejs" "npm"
        install-guide "-"
    }

    binary "pnpm"

    platforms "linux" "macos" "windows"

    list "{binary} list -g" {
        format "regex"
        regex "^(\\S+)@"
        name_group 1
    }

    install "{binary} add -g {packages}"
    remove "{binary} remove -g {packages}"

    search "{binary} search {query} --json" {
        format "npm_json"
        name_key "name"
        version_key "version"
        desc_key "description"
    }

    needs_sudo "false"
}
