// pnpm - Fast, disk space efficient package manager
// Alternative to npm with significant performance improvements
backend "pnpm" {
    meta {
        title "pnpm"
        description "Fast, disk space efficient package manager. Saves gigabytes of disk space compared to npm."
        version "-"
        author "-"
        maintained "nixval"
        tags "nodejs" "javascript" "pnpm" "fast" "efficient" "disk-space"
        url "-"
        homepage "https://pnpm.io"
        license "-"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "nodejs"
        install-guide "-"
    }
    
    binary "pnpm"
    sudo "false"
    
    // pnpm list -g outputs plain text format
    list "pnpm list -g" {
        format "regex"
        regex "^(\\S+)@"
        name_group 1
    }
    
    install "pnpm add -g {packages}"
    remove "pnpm remove -g {packages}"
    
    search "pnpm search {query} --json" {
        format "npm_json"
        name_key "name"
        version_key "version"
        desc_key "description"
    }
}
