backend "snap" {
    meta {
        title "Snap"
        description "Universal Linux package manager by Canonical"
        maintained "nixval"
        tags "linux" "snap" "universal" "canonical"
        url "-"
        homepage "https://snapcraft.io"
        license "-"
        platforms "linux"
        requires "snapd"
        install-guide "-"
    }

    binary "snap"

    list "{binary} list" {
        format "tsv"
        name_col 0
        version_col 1
    }

    install "{binary} install {packages}"
    remove "{binary} remove {packages}"
    update "{binary} refresh"
    upgrade "{binary} refresh"

    search "{binary} find {query}" {
        format "tsv"
        name_col 0
        desc_col 1
    }

    needs_sudo "true"
}
