backend "soar" {
    meta {
        title "Soar Package Manager"
        description "Fast package manager for static binaries"
        maintained "declarch-community"
        tags "linux" "soar" "static" "binary"
        platforms "linux"
        requires "soar"
        url "-"
        install-guide "-"
    }

    binary "soar"

    platforms "linux"

    list "{binary} list --json" {
        format "json_lines"
        name_key "pkg_name"
        version_key "version"
    }

    install "{binary} install -y {packages}"
    remove "{binary} remove --yes {packages}"

    noconfirm "-y"

    search "{binary} search --json {query}" {
        format "json_lines"
        name_key "pkg_name"
        version_key "version"
        desc_key "description"
    }
}
