// soar - Fast, modern, open-source package manager for static binaries
backend "soar" {
    meta {
        title "Soar Package Manager"
        description "Fast, modern, open-source package manager for static binaries"
        maintained "declarch-community"
        tags "linux" "soar" "static" "binary"
        platforms "linux"
    }
    
    binary "soar"
    
    list "soar list" {
        format "json_lines"
        name_key "pkg_name"
        version_key "version"
    }
    
    install "soar install -y {packages}"
    remove "soar remove --yes {packages}"
    
    noconfirm "-y"
    
    search "soar search --json {query}" {
        format "json_lines"
        name_key "pkg_name"
        version_key "version"
        desc_key "description"
    }
}
