backend "yarn" {
    meta {
        title "Yarn"
        description "Fast dependency management for JavaScript"
        maintained "nixval"
        tags "nodejs" "javascript" "yarn" "package-manager"
        url "-"
        homepage "https://yarnpkg.com"
        license "-"
        platforms "linux" "macos" "windows"
        requires "nodejs" "npm"
        install-guide "-"
    }

    binary "yarn"

    list "{binary} global list" {
        format "regex"
        regex "^[├└]── ([^@]+)@"
        name_group 1
    }

    install "{binary} global add {packages}"
    remove "{binary} global remove {packages}"

    search "{binary} search {query}" {
        format "whitespace"
        name_col 0
        desc_col 1
    }

    needs_sudo "false"
    fallback "npm"
}
