// yarn - Fast, reliable, and secure dependency management
// Alternative Node.js package manager by Facebook
backend "yarn" {
    meta {
        title "Yarn"
        description "Fast, reliable, and secure dependency management for JavaScript. Alternative to npm with better performance."
        version "-"
        author "-"
        maintained "nixval"
        tags "nodejs" "javascript" "yarn" "facebook" "package-manager" "fast"
        url "-"
        homepage "https://yarnpkg.com"
        license "-"
        created "2026-02-08"
        platforms "linux" "macos" "windows"
        requires "nodejs"
        install-guide "-"
    }
    
    binary "yarn"
    sudo "false"
    
    list "yarn global list --json" {
        format "json"
    }
    
    install "yarn global add {packages}"
    remove "yarn global remove {packages}"
}
