backend "yay" {
    meta {
        title "Yay"
        description "Simple and fast AUR helper written in Go"
        maintained "nixval"
        tags "arch" "linux" "aur" "helper" "go" "yay"
        url "-"
        homepage "https://github.com/Jguer/yay"
        license "-"
        platforms "linux"
        requires "pacman"
        install-guide "-"
    }

    binary "yay"

    platforms "linux"

    list "{binary} -Q" {
        format "whitespace"
        name_col 0
        version_col 1
    }

    install "{binary} -S --needed {packages}"
    remove "{binary} -Rsn {packages}"
    update "{binary} -Sy"
    upgrade "{binary} -Syu"
    cache_clean "{binary} -Sc --noconfirm"

    search "{binary} -Ss {query}" {
        format "regex"
        regex "^aur/([^\\s]+)|^community/([^\\s]+)|^extra/([^\\s]+)"
        name_group 1
    }

    noconfirm "--noconfirm"
    fallback "pacman"
}
