packages {
  caelestia-cli
  quickshell-git
  ddcutil
  brightnessctl
  app2unit
  libcava
  networkmanager
  lm-sensors
  fish
  aubio
  libpipewire
  glibc
  qt6-declarative
  gcc-libs
  material-symbols
  swappy
  libqalculate
  bash
  qt6-base
}
