// Arch Linux packages
packages {
    // Core
    hyprland
    hyprlock
    hypridle
    xdg-desktop-portal-hyprland
    
    // Tools
    waybar
    rofi-wayland
    dunst
    kitty
    thunar
    
    // Theming
    nwg-look
    qt5-wayland
    qt6-wayland
}
